{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-primary  ">
    <div class="panel-heading">
        <h3>User {{ user.id }}</h3>
    </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th class="col-xs-2 text-center" >Modification</th>
                        </tr>
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.nom }}</td>
                            <td>{{ user.prenom }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <ul style="text-align: center;">
                                    <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-warning pull-left">Edit</a>
                                    {{ form_start(delete_form) }}
                                        <input type="submit" value="Delete" class="btn btn-danger pull-right">
                                    {{ form_end(delete_form) }}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
    <ul>

            <a href="{{ path('user_index') }}" class="btn btn-primary pull-right">Back to the list</a>

    </ul>
{% endblock %}
