{% extends 'base.html.twig' %}

{% block body %}
    {% set dateJ = "" %}
    <div class="panel panel-primary  ">
        <div class="panel-heading">
            <h3>New Pointage</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form, {'attr': {'class': 'text-center'}} ) }}
                <div class="form-row">
                    <div class="col-md-2">
                        <label for="date_J">Date du jour</label>
                        <div id="Place_datej">
                        </div>
                        {% if dateJ and dateJ  != null %}
                            <div id="Place_datej">
                                <input type="text" name="date_J" class="form-control" value="{{ dateJ }}" required>
                            </div>
                        {% else %}
                            <div id="Place_datej">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-sm">Add</button>
                                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">

                                        <div class="modal-content">
                                            {{ form_row(form.date_du_jour)}}
                                            <button type="button" id="buttonAdd" class="btn btn-success" > Add</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-2">
                        <label for="heure_E">Heure d'entrée</label>
                        {% if dateJ %}
                            <input type="text" name="heure_E" class="form-control"  required>
                        {% endif %}

                    </div>
                    <div class="col-md-2">
                        <label for="debut_P">Debut de pause</label>
                        <input type="text" name="debut_P" class="form-control" required>
                    </div>
                    <div class="col-md-2">
                        <label for="fin_P">Fin de pause</label>
                        <input type="text" name="fin_P" class="form-control" required>
                    </div>
                    <div class="col-md-2">
                        <label for="heure_S">Heure de sorti</label>
                        <input type="text" name="heure_S" class="form-control" required>
                    </div>
                </div>
                <input type="submit" value="Valider" class="btn btn-info" />
            </form>
        </div>
        <ul>
            <a class="btn btn-primary pull-right" href="{{ path('pointage_index') }}">Retour aux Pointages</a>
        </ul>
    </div>
    <script>
        function getDateJ() {
            var year = document.getElementById('appbundle_pointage_date_du_jour_year').value;
            var month = document.getElementById('appbundle_pointage_date_du_jour_month').value;
            var day = document.getElementById('appbundle_pointage_date_du_jour_day').value;
            var result = document.getElementById('Place_datej');
                result.textContent =  day + "/" + month + '/' + year   ;
                alert( day + "/" + month + '/' + year);
        }
        var subButton = document.getElementById('buttonAdd');
        subButton.addEventListener('click', getDateJ, false);
    </script>
{% endblock %}

{#{% if dateJ and dateJ  != null %}#}
    {#<input type="text" name="date_J" class="form-control" value="{{ dateJ }}" required>#}
{#{% else %}#}
    {#<button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-sm">Add</button>#}
    {#<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">#}
        {#<div class="modal-dialog modal-sm">#}

            {#<div class="modal-content">#}
                {#{{ form_row(form.date_du_jour)}}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#{% set dateJ = '10/12/2018' %}#}
{#{% endif %}#}