{% extends 'base.html.twig' %}

{% block body %}

<div class="panel panel-primary  ">
    <div class="panel-heading">
        <h3>Pointage show</h3>
    </div>
    <div class="panel-body">
    <table class="table">
        <tbody>
                <tr>
                    <th>Numero</th>
                    <th>Date</th>
                    <th>Heure d'entrée</th>
                    <th>Debut de pause</th>
                    <th>Fin de pause</th>
                    <th>Heure de sorti</th>
                </tr>
                <tr>
                    <td>{{ pointage.id }}</td>
                    <td>{% if pointage.datedujour %}{{ pointage.datedujour|date('d/M/Y')  }}{% endif %}</td>
                    <td>{% if pointage.heureEntre %}{{ pointage.heureEntre|date('H:i:s') }}{% endif %}</td>
                    <td>{% if pointage.debutPause %}{{ pointage.debutPause|date('H:i:s') }}{% endif %}</td>
                    <td>{% if pointage.finPause %}{{ pointage.finPause|date('H:i:s') }}{% endif %}</td>
                    <td>{% if pointage.heureSorti %}{{ pointage.heureSorti|date('H:i:s') }}{% endif %}</td>
                </tr>
        </tbody>
    </table>
    </div>
</div>
    <ul>

            <a href="{{ path('pointage_index') }}" class="btn btn-primary pull-right">Back to the list</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-danger pull-right" type="submit" value="Delete">
            {{ form_end(delete_form) }}

    </ul>
{% endblock %}
